.icon {
    font-size: 25px;
    display: inline;
 padding: 5px;

    cursor: pointer;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 1px solid #555;
    transition: all ease 0.5s;
    display: inline;
    margin: 5px;


  
}
.dayContainer {
    background-color: #111;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    color: #fff;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    border-radius: 30px;
    padding: 0 20px;
    transition: all ease 0.5s;
    
}


.rotate {
    rotate: 180deg;
}


.icon:hover {
    background-color: #666;
    
}
.day {
    display: inline;
  
}

.daydv {
    color: #fff;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.content {
    transition: all ease 0.5s;
    width: 100%;
    display: none;
    overflow: hidden;
    padding-bottom: 20px;
    
   
}

.content div {
    width: 100%;
    border-top: 2px solid white;
    
}

.time {
    border-left: 2px solid white;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.show {
    display: flex;
    justify-content: space-around;
    transition: all ease 0.5s;
}
